<mat-toolbar>
    <mat-toolbar-row>
        <img src="/assets/logo/logo3.png" class="logo">
        <button class="menu" mat-icon-button (click)="toggleSideBar.emit()">
            <mat-icon class="menu">menu</mat-icon>
        </button>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['login']" routerLinkActive="active" *ngIf="!user">
                            <mat-icon> vpn_key</mat-icon>
                           <span>Log in</span> 
                        </button>
                        <button mat-menu-item [routerLink]="['register']" routerLinkActive="active" *ngIf="!user">
                            <mat-icon>movie</mat-icon>
                           <span>Register</span> 
                        </button>
                        <button mat-menu-item [routerLink]="" *ngIf="user"  (click)="logout.emit()">
                            <mat-icon>exit_to_app</mat-icon>
                           <span>Sign out</span> 
                        </button>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="menu" mat-icon-button>
                        <mat-icon>person_outline</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>