<div>
    <app-widget-area [chartData]="chartData"></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>
<br>

<h4>This Week</h4>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-crads">
    <mat-card *ngFor="let stock of chartData" fxFlex="25">
        <app-widget-card [chartData]="stock"></app-widget-card>
    </mat-card>
</div>



<br>

<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <app-widget-table [chartData]="chartData"></app-widget-table>
    </div>
    <div fxFlex="40">
        <app-widget-pie [chartData]="chartData"></app-widget-pie>
    </div>
</div>