.login-container {
  padding: 50px 25% ;

  form {
    display: flex;
    flex-direction: column;
    width: 300px;

    label {
      padding-top: 20px;
      font: 18px "Century Gothic";
    }
    input {
      padding-left: 10px;
      border: 1px solid;
      border-radius: 4px;
      height: 20px;
    }
    mat-icon{
    margin-left: 90%;
    }
  }

  mat-icon{
    cursor: pointer;
  }
  
  .nav-btns {
    padding-top: 20px;
    display: flex;
    gap: 40px;


    .mat-button-base {
      margin: 8px 8px 8px 0;
      padding: 0;
      background-color: rgb(53, 53, 177);
      color: white;
    }
  
  }
}
