<div class="login-container">
    <form class="sign-in">
        <label for="emil">Email:</label>
        <input type="email" [(ngModel)]="info.email" [ngModelOptions]="{standalone: true}" name="emil">
        <label for="password">Password:</label>
        <input [type]="isPasswordVisible? 'text':'password'" [(ngModel)]="info.password"
            [ngModelOptions]="{standalone: true}" name="password">
        <mat-icon *ngIf="isPasswordVisible" (click)="isPasswordVisible=!isPasswordVisible">visibility</mat-icon>
        <mat-icon *ngIf="!isPasswordVisible" (click)="isPasswordVisible=!isPasswordVisible">visibility_off</mat-icon>

    </form>
    <section class="nav-btns">
        <button mat-button (click)="loginUser()">sign-in</button>
        <button mat-button [routerLink]="['/register']">new user</button>
        <a [routerLink]="['/reset-password']">forgot password?</a>
    </section>
</div>